{%extends "auth/base.html"%}
{% load bootstrap4 %}
{% block content %}
<div class="section bg-light" data-aos="fade-up" id="section-reservation">
  <div class="container">
    <div class="row section-heading justify-content-center mb-5">
      <div class="col-md-8 text-center">
        <h2 class="heading mb-3">Login</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <h3 class="text-center">You have been logged out</h3>
      <input type="submit" class="btn btn-primary 
              btn-outline-primary btn-block" name="next" value="Login">
    </div>
  </div>
</div>
{% endblock %}
