{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{{block.super}}
<!-- <div class="container">
  <div class="row">
    <br>
    <br>
    <ul class="">
      <li>
        <a  href="{% url 'all' %}"><h6>All recipes</h6></a>
      </li>
      <li>
        <a  href="{% url 'country' %}"><h6>See By Country</h6></a>
      </li>
      <li>
        <a  href="{% url 'ingredient' %}"><h6>See by Ingredients</h6></a>
      </li>
    </ul>
  </div>
  <div>
    {% for image in image %}
    <div class="">
      <div>
        <img src="{{image.image.url}}" alt="image">
        <a href="{% url 'update_recipe' %}"><h3>{{image.name}}</h3></a>
        <h3>recipe: {{image.recipe}}</h3>
      </div>
      <div class="">
        <h3>country: {{image.country}}</h3>
      </div>
    </div>
    {% endfor %}
  </div>
</div> -->
<div class="my-container">
  <app-nav></app-nav>
<div class="section">
  <div class="container">
    <div class="row justify-content-center">
            <input class="checkbox-all" type="radio" id="color" name="color" checked/>
            <label for="color">all</label>
            <input class="checkbox-alizarin" type="radio" name="color" id="color-1"/>
            <label for="color-1">alizarin</label>
            <input class="checkbox-wisteria" type="radio" name="color" id="color-2"/>
            <label for="color-2">wisteria</label>
            <input class="checkbox-emerland" type="radio" name="color" id="color-3"/>
            <label for="color-3">emerland</label>
            <input class="checkbox-belizehole" type="radio" name="color" id="color-4"/>
            <label for="color-4">belizehole</label>
            <input class="checkbox-sunflower" type="radio" name="color" id="color-5"/>
            <label for="color-5">sunflower</label>
        <div class="w-100 p-0 pt-2"></div>
        <div class="col-auto box alizarin"></div>
        <div class="col-auto box wisteria"></div>
        <div class="col-auto box emerland"></div>
        <div class="col-auto box belizehole"></div>
        <div class="col-auto box sunflower"></div>
        <div class="col-auto box alizarin"></div>
        <div class="col-auto box wisteria"></div>
        <div class="col-auto box emerland"></div>
        <div class="col-auto box belizehole"></div>
        <div class="col-auto box sunflower"></div>
        <div class="col-auto box alizarin"></div>
        <div class="col-auto box wisteria"></div>
        <div class="col-auto box emerland"></div>
        <div class="col-auto box belizehole"></div>
        <div class="col-auto box sunflower"></div>
        <div class="col-auto box alizarin"></div>
        <div class="col-auto box wisteria"></div>
        <div class="col-auto box emerland"></div>
        <div class="col-auto box belizehole"></div>
        <div class="col-auto box sunflower"></div>
        </div>
    </div>
</div>
</div>
{% endblock %}