{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% if title %}
  <title>{{title}}</title>
  {% else %}
  <title>Recipes</title>
  {% endif %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Dancing+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% endblock %}
</head>

<body>
  <nav>
    <ul class="sidebar__list--menu mt-5">
        <img src="https://bit.ly/30TYTsY"
            style=" display: block; margin-left: auto; margin-right: auto; width: 50%;" alt="logo">
        <h1>My:</h1>
        <li style="align-items: center;"><a href="{% url 'index' %}" class="active"><i aria-hidden="true"></i> Home</a></li>
        <li> <a href="/profile/{{user.id}}" class="active">Profile</a></li>
        <li> <a href="{% url 'login' %}" class="active">Login</a></li>
        <li> <a href="{% url 'post' %}" class="active">Post Recipe</a></li>
        <li> <a href="{% url 'all' %}" class="active">See By Countries</a> </li>
    </ul>
</nav>
  {% block content %}
  {%endblock%}

  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'js/index.js'%}"></script>

  {% bootstrap_javascript %}
  {% endblock %}
</body>

</html>
