{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{{block.super}}
<div class="section bg-light" id="section-menu" data-aos="fade-up">
  <div class="container">
    <div class="row section-heading justify-content-center mb-5">
      <div class="col-md-8 text-center">
        <h2 class="heading mb-3">All Recipes All Countries</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <ul class="nav site-tab-nav" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'all' %}">All</a>
          </li>
          {% for country in countries %}
          <li class="nav-item">
            <a class="nav-link"  href="/country/{{country.id}}">{{country}}</a>
          </li>
          {% endfor %}
        </ul>
        <div class="tab-content" id="">
          <div class="tab-pane fade show active" id="" role="tabpanel"
            aria-labelledby="">
            {% for recipe in recipe %}
            <div class="d-block d-md-flex menu-food-item">
              <div class="text order-1 mb-3">
                <img src="{{recipe.image.url}}" alt="Image">
                <h3><a href="#">{{recipe.name}}</a></h3>
                <p>{{recipe.ingredient}}</p>
              </div>
              <div class="price order-2">
                <strong>People Served: {{recipe.people_served}}</strong>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}