{%extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{{block.super}}
<div class="container">
  <br>
  <br>
  <ul class="">
    <li>
      <a href="{% url 'all' %}">
        <h6>All recipes</h6>
      </a>
    </li>
    <li>
      <a href="{% url 'ingredient' %}">
        <h6>See by Ingredients</h6>
      </a>
    </li>
  </ul>
  <ul class="list-inline">
    {% for country in countries %}
    <h4 class="list-inline-item text-body"><a href="/country/{{country.id}}">{{country}}</a></h4>
    {% endfor %}
  </ul>
  {% for image in image %}
  <div class="">
    <div>
      <img src="{{image.image.url}}" alt="image">
      <a href="{% url 'update_recipe' %}">
        <h3>{{image.name}}</h3>
      </a>
      <h3>recipe: {{image.recipe}}</h3>
    </div>
    <div>
      <h3>country: {{image.country}}</h3>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}