{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{{block.super}}
<div class="my-container">
    <div class="myhome">
        <div class="myhome1">
            <br><br>
            <div class="container-fluid">
                <h1 class="text-center fadeIn">WELCOME TO TAMU RECIPES</h1>
                <br>
                <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <input class="form-control form-control-sm ml-3 " type="text" placeholder="Search Recipe"
                        aria-label="Search">
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row"> 
             {% for recipe in recipe %}
            <div class="col-md-3">
                <div class="card">
                    <div class="text1">
                        <a href="{% url 'update_recipe' %}">
                             <h5>{{recipe.name}}</h5></a>
                    </div>
                    <img src="{{recipe.image.url}}" width="100%" height="200px" alt="image">
                    <div class="container">
                        <button><a target="blank" href="">View Recipe</a>
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}