{%extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{{block.super}}
<div class="container">
  <br>
  <br>
  <ul class="">
    <li>
      <a  href="{% url 'all' %}"><h6>All recipes</h6></a>
    </li>
    <li>
      <a  href="{% url 'country' %}"><h6>See By Country</h6></a>
    </li>
  </ul>
  <ul class="list-inline">
    {% for ingredient in ingredients %}
    <h4 class="list-inline-item text-body"><a href="/ingredient/{{country.id}}">{{ingredient}}</a></h4>
    {% endfor %}
  </ul>
  <ul class="list-inline">
    {% for recipeingredient in recipeingredients %}
    <h4 class="list-inline-item text-body"><a href="">{{recipeingredient.name}}</a></h4>
    {% endfor %}
  </ul>
  {% for image in image %}
  <div class="">
    <div>
      <img src="{{image.image.url}}" alt="image">
      <a href="{% url 'update_recipe' %}" ><h3>{{image.name}}</h3></a>
      <h3>recipe: {{image.recipe}}</h3>
    </div>
    <div>
      <h3>country: {{image.country}}</h3>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}