{% extends 'base.html' %}
{% block content %}
<div class="section bg-white" data-aos="fade-up">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12 section-heading text-center">
        <h2 class="heading mb-5">My Profile</h2>
        <a href="{% url 'update_profile' %}">
          <input class="btn btn-primary btn-outline-primary" value="Update Profile">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4 pr-md-5 text-center mb-5">
        <div class="ftco-38">
          {%for profile in profile%}
          <div class="ftco-38-img">
            <div class="ftco-38-header">
              <img src="{{profile.profile_pic.url}}" alt="Image" width="200" height="200">
              <h3 class="ftco-38-heading"> {{user.username}}</h3>
              <p class="ftco-38-heading"> {{profile.bio}}</p>
              <p class="ftco-38-heading"> {{profile.contacts}}</p>
            </div>
          </div>
          {%endfor%}
        </div>
      </div>
      <div class="col-md-4 pl-md-5 text-center mb-5">
        <div class="ftco-38">
          <br><br>
          <h2 class="heading mb-5">My Recipes</h2>
          <hr><br>
          {% if recipe %}
          {%for recipe in recipe%}
          <div class="">
            <p class="ftco-38-heading text-center">
              {{recipe.name}}
            </p>
          </div>
          {%endfor%}
          {% else %}
          <h1>You have no recipes</h1>
          {% endif %}
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
{% endblock %}