{% extends 'base.html' %}
{% block content %}
<div class="section pb-3 bg-white" id="section-about" data-aos="fade-up">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12 col-lg-8 section-heading">
        <h2 class="heading mb-5 text-center">{{recipe.name}}</h2>
        <div class="text-center">
          <p>Recipe</p>
          <p>{{recipe.recipe}}</p>
          <p>Ingredients:{{recipe.ingredient}}</p>
          <h3>Country:<small>{{recipe.country}}</small>, People Served: <small>{{recipe.people_served}}</small>, Date Posted: <small>{{recipe.posted}}</small></h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section bg-white pt-2 pb-2 text-center" data-aos="fade">
  <p><img src="{{recipe.image.url}}" width="400px" height="400px" alt="Image" class="img-fluid"></p>
  <div class="container">
    <a href="{% url 'update_recipe' %}">
    <input class="btn btn-primary btn-outline-primary" value="Update Recipe">
    </a>
  </div>
</div>
{% endblock %}