{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{{block.super}}
<div class="section bg-light" data-aos="fade-up" id="section-reservation">
  <div class="container">
    <div class="row section-heading justify-content-center mb-5">
      <div class="col-md-8 text-center">
        <h2 class="heading mb-3">Edit your profile</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10 p-5 form-wrap">
        <form action="{%url 'update_profile'%}" method="POST" enctype="multipart/form-data">
          {%csrf_token%}
          {% bootstrap_form form %}
          <input type="submit" class="btn btn-primary 
              btn-outline-primary btn-block" value="Update Profile">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}




